<div class="container" *ngIf="question">
  <div class="animal-image-container">
    <img class="animal-image" [src]="question.imageUrl">
    <div id="overlay" class="overlay" [class.fullscreen]="showQuiz | async" >
      <div class="overlay-text">{{ question.keyWord }}</div>
      <mat-button-toggle-group #quizArea name="quiz" class="quiz-area" *ngIf="isMobile && showQuiz | async">
        <mat-button-toggle class="question" [value]="i" (click)="chooseOption(i)" *ngFor="let quest of question.options; index as i">
          <span>{{ quest.encryptedText }}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <mat-button-toggle-group name="quiz" class="quiz-area" *ngIf="!isMobile">
    <mat-button-toggle class="question" [value]="i" (click)="chooseOption(i)" *ngFor="let quest of question.options; index as i">
      <span>{{ quest.encryptedText }}</span>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="decoy" *ngIf="nextQuestion?.imageUrl">
	<img class="decoy-img" [src]="nextQuestion.imageUrl">
</div>
